.dropdown-item
{
    color:white;
    background-color: rgb(99, 92, 92);
}
.nav-link dropdown-toggle
{
    color:white;
    background-color: black;
}
.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: gold !important;
}
.h1
{
    color: black;
    background-color: black;
}
.p
{
    color: black;
    background-color: black;
}
.hero {
    background-image: url('assets/img/7021b');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}